###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.editorconfig text eol=lf
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
