<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Asignaciones | Squid Proxy Admin</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% load static %}
    <link
      href="{% static 'Administrador/img/favicon.ico' %}"
      media="all"
      rel="icon"
    />
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-dark bg-dark" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="#">Squid Proxy Admin</a>
        <div class="d-flex">
          <a
            href="{% url 'admin:index' %}"
            class="btn btn-success"
            role="button"
            >Administrar</a
          >
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="page-header">
        <h1>Asignaciones</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>IP</th>
              <th>MAC</th>
              <th>Nombre del Equipo</th>
              <th>Usuario</th>
              <th>Departamento</th>
              <th>Nivel</th>
              <th>Equipo</th>
              <th>Tipo de Conexion</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>IP</th>
              <th>MAC</th>
              <th>Nombre del Equipo</th>
              <th>Usuario</th>
              <th>Departamento</th>
              <th>Nivel</th>
              <th>Equipo</th>
              <th>Tipo de Conexion</th>
            </tr>
          </tfoot>
          <tbody>
            {% for asignacion in asignaciones %}
            <tr>
              <td>{{ asignacion.ip }}</td>
              <td>{{ asignacion.mac }}</td>
              <td>{{ asignacion.nombre_equipo }}</td>
              <td>{{ asignacion.usuario__nombre }}</td>
              <td>{{ asignacion.usuario__departamento__nombre }}</td>
              <td>{{ asignacion.nivel__nombre }}</td>
              <td>{{ asignacion.equipo__nombre }}</td>
              <td>
                {% if asignacion.tipo_conexion == 1 %}
                  LAN
                {% elif asignacion.tipo_conexion == 2 %}
                  WLAN
                {% else %}
                  Otro
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
